/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db

app/controllers/ConsultorEspecialidadController.php

*.docx

*.pdf

*.png
app/views/asistencia-tecnica/lista.blade.php
app/views/asistencia-tecnica/lista.blade.php
app/views/capacitaciones/creacion-paso-6.blade.php
app/views/clientes/empresas/creacion-paso-proyecto.blade.php
app/views/capacitaciones/creacion-paso-6.blade.php
app/views/asistencia-tecnica/lista.blade.php
app/views/asistencia-tecnica/lista.blade.php
*.php
*.php
